.top {
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  justify-content: space-between;
  padding: 0 20px;
}

.topLeft,
.topRight {
  display: flex;
  align-items: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  display: flex;
  justify-content: center;
  flex: 1;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
}

.topListItem.active {
  font-weight: bold;
  color: #292929;
  border-bottom: 2px solid #292929;
}


.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}


@media (max-width: 768px) {


  .topSearchIcon {
    margin-right: 50px;
  }

  .topCenter {
    display: none;
  }

  .topCenter.mobileMenu {
    display: flex;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .topList {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .topListItem {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}